POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password
POSTGRES_HOST=host.amazonaws.com
POSTGRES_DB=database
AWS_BUCKET=bucket-name
AWS_REGION=region
AWS_PROFILE=developer
JWT_SECRET=myverysecretsecret
URL=http://localhost:8100
PORT_API_FEED=8001
