@import "layout.css";

* {
    border: solid 1px deepskyblue;
    background-color: #444444;
    color: deepskyblue;
    font-size: 1.5em;
}

@media (min-device-width: 600px) and (max-device-width:900px) {
    * {
        color: beige;
        border: solid 1px beige;
    }
}

@media (min-device-width:901px) {
    * {
        color: darkolivegreen;
        border: solid 1px darkolivegreen;
    }
}
