<div class="col-lg-3 col-md-4 col-sm-12 movie-tile text-center">
    <div class="card">
        <a href="{trailer_youtube_url}" data-lity>
            <img class="card-img-top" src="{poster_image_url}" alt="Card image cap">
        </a>
        <div class="card-body">
            <h4 class="card-title">{movie_title}</h4>
            <p class="card-text">Directed by {director}</p>
            <p class="card-text"><i class="fa fa-trophy" aria-hidden="true"></i>Oscars won: {oscars_won}</p>
            <p class="card-text">{release_year} - {country} - {genre} - <a id="imdb-link" href="{imdb_link}">IMDB</a></p>
            <p class="card-text">{leading_actors}</p>
        </div>
    </div>
</div>
